html {
  overflow: hidden;
}

#background {
  width: 200%;
  height: 200%;
  position: fixed;
  left: -50%;
  top: -50%;
  animation: fadein 2s;
}

#background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#backimageold.hover {
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#clock {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadein 2s;
  text-align: center;
  /*border-radius: 20px;*/
}

#time {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 110px;
  color: white;
}

#bot {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  opacity: 0;
  bottom: 0px;
  left: 0px;
  width: 89px;
  height: 37px;
  transition: 0.5s;
}

#bot:hover {
  opacity: 1;
}

#logo {
  position: fixed;
  width: 32px;
  height: auto;
  left: 6px;
  bottom: 1px;
}

#github {
  position: fixed;
  width: 28px;
  height: auto;
  left: 49px;
  bottom: 3px;
  text-decoration: none;
}

#settings {
  position: fixed;
  width: 32px;
  height: auto;
  left: 90px;
  bottom: 0px;
}

#filedrag {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: default;
  transition: 0.5s;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('drop.png');
}

#filedrag.hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: crosshair;
  opacity: 1;
}
